/* RESET CSS */
@font-face{
	font-family: "MuseoSans";
	src: url('fonts/MuseoSans-300.eot'); /* IE9 Compat Modes */
	src: url('fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */
	     url('fonts/MuseoSans-300.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/MuseoSans-300.svg#MuseoSans-300') format('svg'); /* Legacy iOS */
	font-weight: normal;
}
@font-face {
    font-family: 'MuseoSans500';
    src: url('fonts/Museo500-Regular-webfont.eot');
    src: url('fonts/Museo500-Regular-webfont.eot?iefix') format('eot'),
         url('fonts/Museo500-Regular-webfont.woff') format('woff'),
         url('fonts/Museo500-Regular-webfont.ttf') format('truetype'),
         url('fonts/Museo500-Regular-webfont.svg#Museo500-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: #fff;
    line-height: normal;
    font-family: 'MuseoSans', sans-serif;
    color: #333;
    font-size: 62.5%;
    overflow-x: hidden;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border-bottom: 1px solid #18bcb9;
    margin-top: 16px;
    text-align: center;
    width: 620px;
}
a:active, a:focus, a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #18bcb9;    
    font-family: "MuseoSans500",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}
img {
    max-width: 100%;
    width: auto;
    overflow: hidden;
    height: auto;
}
h1 {
    color: #18bcb9;
    font-size: 3em;
    font-style: normal;
    font-weight: normal;
    line-height: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
h2 {
    color: #18bcb9;
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 30px;
}
h3 {
    color: #18bcb9;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 20px;
}
h4 {
    color: #34373e;
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
h5 {
    color: #18bcb9;
    font-family: "MuseoSans500",sans-serif;
    font-size: 1.6em;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
}
h6 {
    color: #18bcb9;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 10px;
}
p {
    color: #34373e;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 20px;
}
ol, ul {
    list-style: none;
    margin-bottom: 10px;
}
ol li, ul li {
    margin: 0 6px;
    padding: 0;
}
ol li {
    list-style-position: inside;
    list-style-type: decimal;
}
ul li {
    list-style: none inside;
}
b, strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
.alignbottom {
    vertical-align: bottom;
}
::-webkit-input-placeholder {
    color: #34373e;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal !important;
    opacity: 1;
}
:-moz-placeholder {
    color: #34373e;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal !important;
    opacity: 1;
}
::-moz-placeholder {
    color: #34373e;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal !important;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #34373e;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal !important;
    opacity: 1;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.sitewrapper {
    width: 944px;
    margin: 0 auto;
    overflow: hidden;
}
.col_left {
    float: left;
}
.col_right {
    float: right;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}
.breadcrumb li, .btn, .logo h1 {
    text-align: center;
}
.btn {
    background-color: #18bcb9;
    border: 0 none;
    color: #fff;  
	display: inline-block;
    font-weight: normal;
    padding: 12px 36px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
	margin: 0;
    cursor: pointer;
    font-style: normal;
    transition: background-color .5s ease 0;
}
.btnLong {
    background-color: #18bcb9;
    border: 0 none;
    color: #fff;  
	display: inline-block;
    font-weight: normal;
    padding: 12px 112px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
	margin: 0;
    cursor: pointer;
    font-style: normal;
    transition: background-color .5s ease 0;
}
.custombutton{
	padding: 9px 0;
	text-transform:uppercase;
	display:block;
	border:1px solid;
	background: none;
	text-align:center;
    cursor: pointer;
    transition: background-color .5s ease 0;
}
.btn:active, .btn:focus, .btn:hover, .btnLong:active, .btnLong:focus, .btnLong:hover {
    color: #fff;  
    opacity: .9;
	text-decoration:none;
}
.custombutton:active, .custombutton:focus, .custombutton:hover {
    opacity: .9;
	text-decoration:underline;
}
br {
    height: 0;
}
.clear {
	clear:both;
}


.theme1{
	color:#18bcb9;
}
.theme1Bg{
	background:#f5f5f5;
}



/* MENU CSS */

.menu ul {
    margin: 0;
    overflow: hidden;
}
.menu ul li {
    float: left;
    margin: 0;
    padding: 0 16px 22px;
	position: relative;
}
.menu ul li.last {
    margin-right: 0;
}
.menu ul li.spcl {
    padding-left: 36px;
    position: relative;
}
.menu ul li.spcl:before {
    border-left: 1px solid #ffffff;
    content: "";
    display: block;
    height: 30px;
    left: 10px;
    margin-top: -5px;
    padding: 0;
    position: absolute;
}
.menu ul li a {
    color: #ffffff;
    font-family: "MuseoSans",sans-serif;
    font-size: 1.3em;
	margin: 11px 0;
    text-transform: uppercase;
}
 .menu ul li.active {
	border-bottom:5px solid #18bcb9;
}
.menu ul li:after {
  content: '';
  display: block;
    padding: 0 0 22px;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease 0s, border-bottom 0.5s ease 0se;
  transition: width 0.5s ease 0s, border-bottom 0.5s ease 0s;
}
.menu ul li:hover:after { 
	width: 100%; 
	border-bottom:5px solid #18bcb9;
}


/* HEADER CSS */

header {
	background:url(images/headerbg.jpg) no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;
	position:relative;
}
.head_top {
    border-bottom: 1px solid #ffffff;
    padding-left: 14px;
    padding-top: 29px;
	margin-bottom:80px;
}
.head_logo {
	
}
.head_logo img {
}
.head_menu {
	
}

.head_med {
    padding-left: 14px;
    width: 458px;	
}
.head_med h1 {
    color: #ffffff;
    margin-bottom: 32px;
}
.head_med h2 {
    color: #ffffff;
    margin-bottom: 40px;
}

.form_txt {
	margin-bottom: 20px;    
    color: #34373e;
    font-size: 13px;
    line-height: 20px;
}
.inpt {
    border: 1px solid #dddddd;
    color: #34373e;
    font-family: "MuseoSans",sans-serif;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
}
.inpt_txt {
    width: 43%;
}
.inpt_email {
    width: 95%;
}

.head_btm {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
}
.head_btm a i{
	color:#fff;
	font-size: 20px;
}


/*  HOMEPAGE INTRO CSS */

.intro_text {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
    padding: 48px 34px 28px;
}
.intro_text .sitewrapper {
}
.home_features h4 {
    color: #34373e;
    margin-bottom: 24px;
    text-transform: uppercase;
}


/* HOMEPAGE TABS */

.home_features {
	margin-bottom:74px;
}
.inv-circle-icon-med {
    border: 5px solid #EFEFEF;
	width: 98px;
	height: 98px;
    border-radius: 50%;
    text-align: center;
    line-height: 98px;
    vertical-align: middle;
	display: inline-block;
    transition: all .5s ease 0;
}
.inv-circle-icon-med i{
	color:#18bcb9;
	font-size: 40px;
	line-height: 98px;
}
.ui-tabs-active .inv-circle-icon-med, .ui-state-hover .inv-circle-icon-med {
    border: 5px solid #18bcb9 !important;
}
.ui-tabs-active .inv-circle-icon-med i, .ui-state-hover .inv-circle-icon-med i{
	color:#34373e !important;
}
.ui-tabs-nav {
    padding: 0 !important;
    margin-top: 46px !important;
}
.ui-tabs-nav li {
    margin: 0 24px !important;
}
.ui-tabs-nav li a {
    padding: 0 !important;
}
.tab_txt {
	width:49%;
}
.tab_txt h3 {
	color:#34373e;
	padding-left: 40px;
}
.ultype {
	position: relative;
    color: #34373e;
    font-size: 12px;
}
.ultype span {
    color: #34373e;
    display: list-item;
    list-style: inside none disc;
    padding: 6px;
}



/* Slider */

.home_slider {
	background:#f5f5f5;
}
.timeline-wrapper{
	position: relative;
	padding-top:61px;
	padding-left:12%;
}
.timeline-wrapper:before{
    border-top: 2px dashed #34373e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
	width: 100%;
	top: 229px;
}
ul.timeline-slider{
	padding:0;
	margin:0;
	position:static;
}
.timeline-slider li{
	width:400px;
	text-align: center;
	bottom: 26px;
	left: 0;
	padding:0 20px;
}
.colorblack{
	color:#34373e;
}
.colorwhite{
	color:#fff;
}
.theme1{
	color:#18bcb9; 
}
.theme1Bg{
	background:#18bcb9;
}
.spacer{
	padding-bottom:58px;
}
.spacer1{
	padding-bottom:38px;
}
.heightwrap{    
min-height: 177px;
}
.circle-icon-large {
    border: 7px solid #18BCB9;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
    border-radius: 50%;
    display: inline-block;
    height: 141px;
    line-height: 154px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 141px;
}
.circle-icon-large i{
	font-size: 57px ;
	line-height: 141px;
}
.circle-icon-small {
	width: 32px;
	height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
	display: inline-block;
}
.circle-icon-small i{
	font-size: 20px ;
	line-height: 32px;
}
.timelinebutton{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
}
.context2{
	padding-top:42px;
}
.thebeginning{
	position: absolute;
	left: 6px;
	top: 207px;
	background: #F5F5F5;
}
.timeline-wrapper .slick-prev.slick-arrow {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	width: 102px;
	height: 102px;
	position: absolute;
	left: -51px;
	border-radius: 50%;
	border: none;
	text-align:right;
	background: #fff;
	top: 242px;
	cursor: pointer;
}
.timeline-wrapper .slick-prev i
{
	margin-right: 23px;
	font-size: 44px;
}
.timeline-wrapper .slick-next.slick-arrow {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	width: 102px;
	height: 102px;
	position: absolute;
	right: -51px;
	border-radius: 50%;
	border: none;
	text-align:left;
	background: #fff;
	top: 242px;
	cursor: pointer;
}
.timeline-wrapper .slick-next i
{
	margin-left: 23px;
	font-size: 44px;
}
.timeline-wrapper .slick-arrow.slick-disabled {
    opacity: 0.6;
	cursor: default;
	padding: 0;
	margin: 0;
}
.timeline-slider .intro_text {
	border:0 none;
}



/* TEAM CSS */

.team_section {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
    padding: 40px 0;
}
.team_mem {
	display:inline-block;
	width:24%;
	text-align:center;
}
.team_mem h5  {
    margin-bottom: 5px;
    margin-top: 30px;
}
.team_mem h5 a {
}
.team_mem h6 {
    color: #34373e;
    font-size: 1.3em;
}


/* PARTNER CSS */

.home_partner {
	margin-bottom: 24px;
}
.home_partner .sitewrapper {
	width:1170px;
}
.slde_main .sitewrapper {
	overflow:visible;
}
.slick-list {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.slider {
	overflow:visible;
	position:relative;
}
.slider .slick-list {
	width:944px;
	margin: 0 auto ;
}
.slider .slide_area {
	margin:0 18px;
	text-align:center;
}
.slider .slick-prev, .slider .slick-next{
    background: none ;
    border: 0 none;
}
.slider .slick-prev i, .slider .slick-next i{
    font-size:44px;
	cursor: pointer !important;
}
.slider .slick-prev{
    background: none ;
    border: 0 none;
    left: 0;
    position: absolute;
    top: 40%;
}
.slider .slick-next{
    right: 0;
    position: absolute;
    top: 40%;
}
.slider .slick-slider {
    margin-bottom: 0;
}
.slider .slick-slide img {
	height: 87px;	
	display: inline-block;
}
.sld_cntnt {
    margin-top: 50px;
}
.slide_area h5 a{
    font-size: 15px;
}



/* CONTACT CSS */

.home_contact {
	background:#f5f5f5;
	padding:42px 0 38px;
}
.home_contact .sitewrapper {
    width: 924px;
}
.info_events h3 {
    border-bottom: 2px solid #dddddd;
    color: #34373e;
    font-size: 24px;
    margin-bottom: 36px;
    padding-bottom: 26px;
}
.info_area {
	width:57%;
}
.event_area {
	width:31%;
}
.info_area form {
	background:#fff;
	padding:30px;
	margin:4px;
	-moz-box-shadow: 0 0 5px #ebebeb;
	-webkit-box-shadow: 0 0 5px #ebebeb;
	box-shadow: 0 0 5px #ebebeb;
}
.select_text {
    border: 1px solid #dddddd;
    margin-left: 24px;
    padding: 10px;
    width: 43%;
}
.info_area textarea {
    border: 1px solid #dddddd;
    color: #34373e;
    font-family: "MuseoSans",sans-serif;
    font-size: 13px;
    height: 135px;
    line-height: 20px;
    padding: 10px;
    width: 95%;
}
.info_area .form_sbmt {
    text-align: center;
}

.events_wrapper .evnt_img {
    width:33%;
}
.events_wrapper .evnt_titl {
    width:66%;
}
.events_wrapper h5 a {
    font-size:15px;
}
.events_wrapper h6 {
    margin-bottom:0;
}
.events_wrapper .event_desc {
    padding: 12px 0;
}
.events_wrapper p {
    margin-bottom: 0;
}
.event_loc {
	color:#9d9d9d;
	font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 16px;
}
.event {
	border-bottom:2px solid #dadbde;
	padding-bottom:20px;
	margin-bottom:20px;
}
.inv-circle-icon-sml {
	border: 5px solid #efefef;
    border-radius: 50%;
    display: inline-block;
    height: 68px;
    line-height: 68px;
    text-align: center;
    vertical-align: middle;
    width: 68px;
}
.inv-circle-icon-sml i {
    color: #18bcb9;
    font-size: 40px;
    line-height: 68px;
}
.mobileClear{
	display:none;
	clear:both;
}
.fordevelopers{
	padding:36px 0 42px;	
    font-size: 14px;
}
.fordevelopers a {
	 font-size: 15px;
}
.startOptions{
	padding-top:45px;	
	display: block;
}
.startSteps{
	width: 23%;
	display: inline-block;
	margin: 0 21px 0 0;
	text-align: center;
}
.startSteps.last{
	margin: 0 0;
}
.startExcerpt{
	padding-bottom: 30px;
	min-height: 104px;
}
.startIcon
{
	padding-bottom: 35px;
}
.startHeading{
	padding-bottom: 28px;
	margin: 0;	
}
.startupAction{
}
.footerarea{
	background:#34373e;
	padding:30px 0 42px 0;
}
.footerarea p{
	color:#ffffff;
}
.feetwidgets{
	margin-right:30px;
}
.feetwidgets.feet2 h3{
	margin-bottom:21px;
}
.feetwidgets h3{
	margin-bottom:28px;
	color: #fff;
}
.feetsection1{
	padding-bottom:30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #4b4d52;
}
.feet1{
	width: 22%;
}
.feet2{
	width:38%;
}
.feet3 {
    width: 33%;
    margin-right: 0;
}
.footerarea .inpt{
	margin-bottom:14px;
}
.headmsg{
	color:#fff;
	font-size: 13px;
}
.footerarea .inptbtn{
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	color:#18bcb9;
	border:1px solid #18bcb9;
}
.custombutton.inpt100{
	width:94%;
}
.socialMediaFooter{
	text-align:center;
}
.socialMediaFooter li{
	display:inline-block;
}
.socialMediaFooter i{
	font-size: 20px;
}
.nav-button {
	display:none;
}
.footerarea .inpt_txt.inpt100 {
    width: 88%;
}
@media only screen and (min-width :1500px) and (max-width :2000px) {
	.timeline-wrapper {
		padding-left: 20%;
	}
}
@media only screen and (min-width :1500px) and (max-width :2000px) {
	.timeline-wrapper {
		padding-left: 24%;
	}
}
@media only screen and (min-width :200px) and (max-width :943px) {
	.sitewrapper {
		width: auto!important;
		padding:0 1.5%;
	}
	.home_partner .sitewrapper {
		width: auto;
	}
	.head_logo.col_left {
		float:none;
		text-align:center;
		padding-bottom: 20px;
	}
	.head_menu.col_right{
		float: none;
	}
	.menu ul{
		text-align:center;
	}
	.menu ul li {
		float: none;
		display:inline-block;
	}
	.startSteps {
		width: 42%;
		margin: 0 21px 50px 0;
	}
	.startOptions {
		padding-top: 25px;
		text-align: center;
	}
	.mobileClear {
		display: block;
	}
	.team_mem {
		width: 48%;
	}
	.team_section {
		text-align: center;
	}
	.feetwidgets {
		width: 30% !important;
	}
	.footerarea form{
		text-align:center;
	}
	.footerarea .inpt_txt.inpt100 {
		width: 85%;
	}
	.custombutton.inpt100 {
		margin: 0px auto;
	}
	.slider .slide_area {
		width: auto;
	}
	.ui-tabs-nav li {
		margin: 0 6px !important;
	}
	.slider .slick-list {
		width: auto;
	}
}
@media only screen and (min-width :200px) and (max-width :767px) {
	/*Mobile Menu*/
	.menu ul li.active {
		border-bottom: none;
	}
	.nav-button {
		display: block;
		position: absolute;
		top: 7px;
		left: 7px;
		width: 50px;
		height: 35px;
		background: 0 0;
		cursor: pointer;
		border: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		box-shadow: 0 0 4px rgba(0, 0, 0, .7) inset;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		z-index: 999999 !important;
		color: #fff;
		font-size: 22px
    }
    .menu ul ul {
        background-color: #CAA26E;
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2))
    }
    .menu ul ul a {
        padding: 14px !important
    }
    .menu ul li .down-mcaret {
        right: 32px
    }
    .nav-button:hover {
        background-color: rgba(0, 0, 0, .1)
    }
    .menu ul {
        width: 100%;
        float: none;
        background-color: #18bcb9;
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        display: block;
        height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        position: absolute;
        top: 0;
        left: 0;
        clear: both;
        text-align: left;
        z-index: 99;
    }
    .menu ul li {
        display: none;
        width: 100%;
        margin-left: 0;
        padding: 0;
        position: relative
    }
   .menu ul li a {
        display: block;
        padding: 15px 3%;
        font-size: 14px;
        z-index: 999999 !important;
        font-weight: 700;
        color: #fff !important;
        text-decoration: none;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        height: auto;
        background: 0 0;
        line-height: inherit;
        width: auto;
		margin:0;
    }
    .menuarea ul li a.first-level {
        margin-left: 0
    }
    .menu li a:hover {
        background-color: rgba(0, 0, 0, .5);
        border-top-color: transparent;
        color: #d1bf08 !important
    }
    .menu > li:first-child {
        border-top: 1px solid rgba(0, 0, 0, .2)
    }
    body .menu .open {
        height: auto;
        text-align: left;
        padding-top: 50px
    }
    body .menu .open li {
        display: block
    }
    .down-mcaret {
        position: absolute;
        top: 6px;
        right: 12px;
        color: #CCC;
        width: 45px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        z-index: 99;
        cursor: pointer;
        display: block;
        background: no-repeat rgba(255, 255, 255, .2);
        border: none
    }
    .menu ul ul ul {
        left: 0;
        margin-bottom: 19px !important
    }
    .menu ul >li:hover>a {
        background: rgba(0, 0, 0, .5);
        border-bottom-color: transparent
    }
    .menu ul li.parent>a:after {
        content: "";
        color: rgba(255, 255, 255, .5);
        float: right
    }
    .menu ul li.parent>a:hover {
        background: rgba(0, 0, 0, .75)
    }
    .menu ul li {
        display: none;
        background: rgba(0, 0, 0, .5) !important;
        border-top: 0 none;
        padding: 0 !important;
    }
	.menu ul li.spcl::before {
		content:none;
	}
    .menu ul li:hover ul {
        display: none;
        border-top: 0 none
    }
    .menu ul li:hover::after{
        border: 0 none
    }
    .menu_contanr ul.level-0:before {
        border: 0
    }
	/*Mobile Menu*/
	.head_logo.col_left {
		float:none;
		text-align:center;
		padding-bottom: 20px;
		display: block;
		margin-top: 76px;
	}
	.head_top {
		padding-top: 0;
		margin-bottom: 40px;
	}
	.sitewrapper {
		width: auto;
		padding:0 2.5%;
	}
	.head_med {
		padding-left: 0;
		width: auto;
	}
	.inpt_email {
		width: 97%;
		max-width: 96%;
	}
	.feetwidgets {
		width: 98% !important;
		margin-right: 0;
		text-align: center;
	}
	.feetwidgets .custombutton.inpt100 {
		width: 88%;
		margin-bottom: 40px !important;
	}
	header {
		background: url(images/headerbgsmall.jpg) no-repeat;
		height: auto;
		padding-bottom: 40px;
	}
	.timeline-wrapper {
		padding-left: 0;
	}
	.timeline-wrapper::before {
		left: 20%;
		width: 80%;
	}
	.timeline-slider li {
		width: 300px;
		padding: 0 14px;
	}
	.thebeginning {
		display:none;
	}
	.ui-tabs-nav li {
		margin: 0 4px !important;
	}
	.info_area, .event_area, .evnt_img, .evnt_titl {
		float: none;
		text-align: center;
		width: 100%!important;
	}
	.event_area {
		padding-top:30px;
	}
	.evnt_img {
		padding-bottom:10px;
	}
	.home_features .inv-circle-icon-med {
		width: 58px;
		height: 58px;
		line-height: 64px;
	}
	.home_features .inv-circle-icon-med i {
		color: #18bcb9;
		font-size: 30px;
		line-height: 35px;
	}
	.home_features .ui-tabs .ui-tabs-nav {
		text-align: center;
	}
	.home_features .ui-tabs .ui-tabs-nav li {
		list-style: none;
		float: none;
		display: inline-block;
		margin: 0 0 0 8px !important;
	}
}
@media screen and (max-width: 479px) {
	.startSteps {
		width: 96%;
		margin:0 0 30px 0;
	}	
	.startExcerpt {
		min-height: auto;
	}
	.custombutton {
		width: 60%;
		margin: 0px auto;
	}
	.form_txt .inpt {
		width:90%;
		margin-bottom:10px;
		float: none;
	}
	.form_txt select {
		width:96%;
		margin-top: 10px;
		margin-bottom:10px;
		float: none;
		margin-left:0;
	}
	.form_txt{
	    margin-bottom: 0px;
	}
	.home_features .inv-circle-icon-med {
		width: 45px;
		height: 45px;
		line-height: 54px;
	}
	.home_features .ui-tabs .ui-tabs-nav {
			text-align: center;
	}
	.home_features .ui-tabs .ui-tabs-nav li {
		list-style: none;
		float: none;
		display: inline-block;
		margin: 0 0 0 8px !important;
	}
	.home_features .inv-circle-icon-med i {
		color: #18bcb9;
		font-size: 28px;
		line-height: 30px;
	}
	.home_features .tab_txt {
		width: auto;
		float:none;
		text-align: center;
	}
	.home_features .text_right{
		margin-bottom:20px;
	}
	.tab_txt h3 {
		padding-left: 0;
	}
	.team_mem {
		width: 98%;
	}
	.feetwidgets .custombutton.inpt100 {
		width: 93%;
	}
	.feetwidgets .inptbtn.custombutton.inpt100 {
		width: 90%;
	}
	.timeline-wrapper .slick-next.slick-arrow {
		width: auto;
		height: auto;
		background:none;
		right:0;
	}
	.timeline-wrapper .slick-prev.slick-arrow {
		width: auto;
		height: auto;
		background:none;
		left:0;	
		z-index:99999;
	}
	.spacer1 {
    padding-bottom: 16px;
	}

} 





